<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://emilian-001-site1.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://emilian-001-site1.btempurl.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>emilian-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\emilian-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9E03E0_Emilian;User ID=DB_9E03E0_Emilian_admin;Password=Capetown342" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProductsCatalog2015.Models.ApplicationDbContext, ProductsCatalog2015" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9E03E0_Emilian;User ID=DB_9E03E0_Emilian_admin;Password=Capetown342" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProductsCatalog2015.Models.Entities, ProductsCatalog2015" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9E03E0_Emilian;User ID=DB_9E03E0_Emilian_admin;Password=Capetown342" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9E03E0_Emilian;User ID=DB_9E03E0_Emilian_admin;Password=Capetown342" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9E03E0_Emilian;User Id=DB_9E03E0_Emilian_admin;Password=Capetown342;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9E03E0_Emilian;User ID=DB_9E03E0_Emilian_admin;Password=Capetown342</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9E03E0_Emilian;User ID=DB_9E03E0_Emilian_admin;Password=Capetown342</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ProductsDBModel.csdl|res://*/Models.ProductsDBModel.ssdl|res://*/Models.ProductsDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9E03E0_Emilian;User ID=DB_9E03E0_Emilian_admin;Password=Capetown342"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>